@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800,900);
html {
  font-family: 'Open Sans';
  background: #00c864;
  font-size: 0.5em;
}

body {
  width: 40em;
  margin: 3em auto;
  transition: width 0.3s;
}

.spacer {
  clear: both;
}

.score-box {
  width: 100%;
  background: #010;
  font-size: 1em;
  padding: 0;
  top: 0;
  left: 0px;
  position: fixed;
}
.score-box h1 {
  color: white;
  text-align: center;
  margin: 0.3em;
}

.score {
  float: left;
  width: 40%;
  min-height: 1em;
  border-radius: 0.4em;
  padding: 0.3em 0em 0.1em 0.5em;
  color: #dfd;
  margin: 0.3em;
  text-align: center;
  background: rgba(0, 20, 0, 0.7);
  font-size: 1.5em;
  border: 1px solid #fff;
}
.score h5 {
  float: left;
  padding: 0;
  margin: 0;
  font-weight: 100;
}
.score span {
  display: inline-block;
  vertical-align: top;
  margin-top: -0.1em;
}
.score:last-of-type {
  float: right;
}

.time {
  float: left;
  color: #fff;
  width: 10%;
  font-size: 1.8em;
  margin-top: 0.3em;
  text-align: center;
  position: fixed;
  left: 45%;
}

.wrapper {
  margin: 6em auto;
  margin-left: calc(0.7em - 5px);
  background: #222;
  border-radius: 1.25em;
  float: left;
  border: 0.5em solid #000;
  padding: 0.5em;
  box-shadow: 0px 0px 0.5em 0em #000 inset;
}

.row {
  height: 2.5em;
  min-width: 2.5em;
  padding-bottom: 1.56em;
  float: left;
  clear: both;
  border-radius: 0.4em;
  transition: height 0.3s;
}

.row:nth-of-type(2n+2) {
  background: rgba(255, 255, 255, 0.1);
}

.col {
  min-height: 2.5em;
  min-width: 2.5em;
  margin: 0.2em;
  float: left;
  border-top: 0.625em solid #999;
  border-bottom: 0.625em solid #666;
  border-left: 0.625em solid #777;
  border-right: 0.625em solid #888;
  border-radius: 50%;
  transition: -webkit-transform, background, 0.3s;
}
.col:hover {
  -webkit-transform: rotate(450deg);
  z-index: -1;
  box-shadow: 0px 0px 10px 0px rgba(122, 255, 122, 0.4);
  cursor: pointer;
}

@media screen and (min-width: 721px) {
  html {
    font-size: 1em;
  }
  html body {
    margin-top: 3em;
  }
}
@media screen and (min-width: 390px) {
  html {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 440px) {
  html {
    font-size: 0.65em;
  }
}
@media screen and (min-width: 490px) {
  html {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 0.75em;
  }
}
@media screen and (min-width: 590px) {
  html {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 0.85em;
  }
}
@media screen and (min-width: 690px) {
  html {
    font-size: 0.9em;
  }
}
/* @media screen and (min-width: 740px) {
  html {
    font-size: 0.95em;
  }
}
@media screen and (min-width: 790px) {
  html {
    font-size: 1em;
  }
} */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.col {
  background: #020;
}

.pop {
  position: absolute;
  color: #fff;
}

.main-screen {
  height: 100%;
  width: 100%;
  background: rgba(0, 20, 0, 0.97);
  position: fixed;
  left: 0;
  top: 0;
}
.main-screen .mid-wrap {
  position: absolute;
  top: 15%;
  left: 10%;
  height: 70%;
  width: 80%;
  box-shadow: 0px 0px 30px 10px rgba(122, 255, 122, 0.3) inset, 0px 0px 30px 10px rgba(122, 255, 122, 0.3);
  border-radius: 1em;
}
.main-screen .mid-wrap span.title {
  font-family: 'Raleway';
  display: block;
  min-width: 5em;
  margin: auto;
  color: #afa;
  text-align: center;
  font-size: 5.3em;
  padding: 1em 0em;
  font-weight: 100;
  letter-spacing: -0.05em;
}
@media screen and (max-height: 600px) {
  .main-screen .mid-wrap span.title {
    padding-top: 0.7em;
  }
}
@media screen and (max-height: 400px) {
  .main-screen .mid-wrap span.title {
    padding-top: 0.5em;
  }
}
.main-screen .mid-wrap span.title span {
  font-size: 0.35em;
  letter-spacing: 0.29em;
}
.main-screen .mid-wrap span.title span div {
  display: inline;
  letter-spacing: 0.2em;
}
.main-screen .mid-wrap .start-button {
  position: absolute;
  top: calc(40% + 3em);
  left: 10%;
  height: 30%;
  width: 80%;
  text-align: center;
  transition: color,text-shadow, 0.5s;
}
.main-screen .mid-wrap .start-button:hover {
  text-shadow: 0px 0px 5px #afa,0px 0px 25px #afa,0px 0px 50px #afa;
  cursor: pointer;
}
.main-screen .mid-wrap .start-button span {
  font-family: 'Raleway';
  font-size: 4em;
  font-weight: 100;
  color: #cfc;
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 10%;
  text-align: center;
  letter-spacing: 0.1em;
}

.main-screen .end-group {
  display: none;
}
.main-screen .end-group .score-recap {
  text-align: center;
  color: #cfc;
  position: absolute;
  width: 50%;
  left: 25%;
  height: 10%;
  top: 40%;
}
.main-screen .end-group .score-recap span {
  display: block;
  font-size: 1.5em;
}
.main-screen .end-group .score-recap span:after {
  margin: 5em;
}
.main-screen .end-group .start-button {
  height: 20%;
  top: 70%;
}


.main-screen .end-group .start-button_pg {
  height: 20%;
  top: 70%;
}
.main-screen .mid-wrap .start-button_pg {
  position: absolute;
  top: calc(40% + 3em);
  left: 10%;
  height: 30%;
  width: 80%;
  text-align: center;
  transition: color,text-shadow, 0.5s;
}